
/* PRE
   ============================= */

pre {

	position: relative;

	display: block;
	margin: 12px 0;
	padding: 15px;

	color: #777777;
	background: #eeeeee;
	overflow: visible;
	border: 1px solid #dddddd;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;

}